<div class="col mb-4">
    <div class="card">
        <img src="assets/imagenes/informe1.png" class="card-img-top" alt="informe">
        <div class="card-body">
            <h5 class="card-title font-weight-bold ">Informes personalizados</h5>
            <p class="card-text">Preparamos un informe personalizado y adecuado con tus palabras, para explicarte los diferentes procesos de la atencion medica que te prestan.
                <a href="#">Leer más</a>
            </p>
        </div>
    </div>
</div>
