<div class="container ">
    <h2 class="text-center titulo1">PENSANDO SIEMPRE EN SU BIENESTAR</h2>
    <div class="row row-cols-1 row-cols-md-2">
        
        <app-servicioa></app-servicioa>
        <app-serviciob></app-serviciob>
    </div>
</div>
        <div class="container formulario">
            <div class="form-group pt-5 mt-5">
                <p class="text-center font-weight-bold">Suscríbete y conoce todos los beneficios y promociones que Care te Asiste tiene para ti </p>
    
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
                <button type="submit" class="ingresar btn btn-block">Enviar</button>
            </div>
        </div>
<div class="container ">
<div class="row row-cols-1 row-cols-md-2">
        <app-servicioc></app-servicioc>
        <app-serviciod></app-serviciod>
        
    </div>
</div>