<div class="collapse navbar-collapse" id="btninforExamenes">
    <div class="tab-pane fade show" id="nav-examenes" role="tabpanel" aria-labelledby="nav-examenes-tab">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-sm-4">
                    <img src="assets/imagenes/exmenes.png" alt="examenes" class="navimg">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">Examenes</h5>
                    <p class="card-text">Te acompañamos de manera personalizada, confiable y segura, desde tu casa o directamente en el centro de atención, a los Examenes Medicos, Examenes Especializados, Organizamos los examenes médicos que tengas programados, te entregamos un reporte claro y en tus propias palabras.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
