footer {
    background: #276b7adc;
    font-family: 'Yeseva One', cursive;
    font-size: 18px;
}

.icon {
    width: 60px;
    height: 60px;
    background: transparent;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.card-footer {
    background: transparent;
}