footer {
    background: #3f93a5dc;
    font-family: 'Lemon';
}

.icon {
    width: 60px;
    height: 60px;
    background: transparent;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.card-footer {
    background: transparent;
}