footer {
    background: linear-gradient(72deg, #9ed8e5dc, #bad4ff8f);
    font-family: 'Lemon';
}


.icon {
    width: 60px;
    height: 60px;
    background: transparent;
    display: flex;
    justify-content: center;
    font-size: 30px;
    
}

.card-footer{
    background: transparent;
    
}