<footer class="pt-5 pb-4">
        <div class="container text-center text-md-start">
            <div class="row text-center text-md-start">

                <div class="col-md-3 col-lg-4 col-xl-4 mx-auto mt-3 text-light">

                    <h5 class="mb-2 font-weight-bold">¿QUIENES SOMOS?</h5>
                    <hr class="mb-4">
                    <p class="texto">Somos la solución a tus necesidades en relación con el cuidado de la salud</p>

                </div>

                <div class="col-md-2 col-lg-4 col-xl-4 mx-auto mt-3 text-light">
                    <h5 class="mb-4 font-weight-bold ">CONTACTONOS</h5>
                    <hr class="mb-4">
                    <ul class="texto">
                        <li class="fa fa-phone me-4  "> 607 000 00 01</li>
                        <li class="fa fa-phone me-4  "> 316 425 47 99</li>
                        <li class="fa fa-home me-4  "> Bucaramanga, Santander, Colombia</li>
                        <li class="fa fa-envelope me-3 "> care.teasiste@gmail.com</li>
                    </ul>
                </div>
                
                <div class="col-md-2 col-lg-4 col-xl-4 mx-auto mt-3 text-light">
                    <h5 class="mb-4 font-weight-bold ">HORARIO DE ATENCIÓN</h5>
                    <hr class="mb-4">
                    <ul class="texto">
                        <li>LUNES - JUEVES: 9:00am - 8:00pm</li>
                        <li>VIERNES: 10:00am - 5:00pm</li>
                        <li>SÁBADO: 9:00am - 3:00pm</li>
                        <li>DOMINGO: Cerrado</li>
                    </ul>
                </div>

                <hr class="mb-10">

                <div class="text-center">
                    <ul class="list-unstyled d-flex">
                        <li class="icon">
                            <a href="https://www.facebook.com/profile.php?id=100092334815125" class="text-dark"><i class="bi bi-facebook" style="color:#658cb5d1;"></i></a>
                        </li>
                        <li class="icon">
                            <a href="https://wa.me/573164254799" class="text-dark"><i class="bi bi-whatsapp" style="color: #658cb5d1"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="card-footer text-white text-left">
                    &copy; 2023 Care te Asiste
                  </div>
            </div>
        </div>

    </footer>

  