<app-menu></app-menu>

<div class="container">

    <div class="user-group">
        <h2 class="text-center" id="tittle">INICIAR SESIÓN</h2>
        <label for="correo">Correo Electrónico</label>
        <input type="email" class="input-login" id="correo" aria-describedby="emailHelp" [(ngModel)]="correo">

    </div>


    <div class="user-group">
        <label for="clave">Contraseña</label>
        <input type="password" class="input-login" id="clave" [(ngModel)]="contrasena">
    </div>

    <div class="user-group">
        <button type="submit" class="ingresar btn btn-block" id="ingreso" (click)="Ingresar()">Ingresar</button>
    </div>

    <div class="user-group text-center">
        <p>
            ¿No tienes una cuenta?
            <a routerLink="/registro" class="font-weight-bold">Registrate</a>
        </p>
    </div>

</div>
<app-piedepagina></app-piedepagina>