.container {
    margin-top: 70px;
    max-width: 380px;
    width: 100%;
    background: #fff;
    padding: 26px 60px;
    border-radius: 25px;
    margin-bottom: 50px;
    font-family: 'Yeseva One', cursive;
    font-size: 20px;
}

.container .user-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0 10px 0;
}

.input-login {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    border-radius: 10px;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
}

.button {
    cursor: pointer;
    background: linear-gradient(135deg, #9ed8e5dc, #bad4ff62);
    border-radius: 10px;
    height: 40px;
    margin: 50px 0;
    width: 100%;
}

.button:hover {
    background: linear-gradient(-135deg, #b6cfd2dc, #c9daf2cc);
}

#tittle {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 6px;
    border-bottom: solid 1px rgb(127, 181, 212);
    width: 100%;
}

#ingreso {
    background: linear-gradient(135deg, #b1cbcece, #9daec7d2);
}