<app-menu></app-menu>


<div class="container">
    <div class="row">
        <h1 class="title">REGISTRO</h1>

        <div class="user-details">
            <div class="input-box">
                <span class="details">Nombre</span>
                <input type="text" placeholder="Nombre" id="Nombre"[(ngModel)]="nombre">
            </div>
            <div class="input-box">
                <span class="details">Apellido</span>
                <input type="text" placeholder="Apellido" id="apellido"[(ngModel)]="apellido">
            </div>
            <div class="input-box">
                <span class="details">Cedula</span>
                <input type="text" placeholder="Cedula" id="cedula"[(ngModel)]="cedula">
            </div>
            <div class="input-box">
                <span class="details">Edad</span>
                <input type="text" placeholder="Edad" id="edad"[(ngModel)]="edad">
            </div>
            <div class="input-box">
                <span class="details">Correo Electrónico</span>
                <input type="email" placeholder="Correo Electrónico" id="correo"[(ngModel)]="correo">
            </div>
            <div class="input-box">
                <span class="details">Contraseña</span>
                <input type="password" placeholder="Contraseña" id="contrasena"[(ngModel)]="contrasena">
            </div>
            <div class="input-box">
                <span class="details">Dirección</span>
                <input type="text" placeholder="Dirección" id="direccion"[(ngModel)]="direccion">
            </div>

            <div class="input-box">
                <span class="details">Ciudad</span>
                <input type="text" placeholder="Ciudad" id="ciudad"[(ngModel)]="ciudad">
            </div>
            <div class="input-box">
                <span class="details">Departamento</span>
                <input type="text" placeholder="Departamento" id="departamento"[(ngModel)]="departamento">
            </div>
            <div class="input-box">
                <span class="details">Telefono</span>
                <input type="text" placeholder="Telefono" id="telefono"[(ngModel)]="telefono">
            </div>
        </div>

        <button class="btn" (click)="Registrar()">Registrar</button>


    </div>
</div>



<app-piedepagina></app-piedepagina>