<app-menu></app-menu>


<div class="container">
    <div class="row">
        <h1 class="title">REGISTRO</h1>

        <div class="user-details">
            <div class="input-box">
                <span class="details">Nombre</span>
                <input type="text" placeholder="Nombre" [(ngModel)]="nombre">
            </div>
            <div class="input-box">
                <span class="details">Apellido</span>
                <input type="text" placeholder="Apellido" [(ngModel)]="apellido">
            </div>
            <div class="input-box">
                <span class="details">Cedula</span>
                <input type="text" placeholder="Cedula" [(ngModel)]="cedula">
            </div>
            <div class="input-box">
                <span class="details">Edad</span>
                <input type="text" placeholder="Edad" [(ngModel)]="edad">
            </div>
            <div class="input-box">
                <span class="details">Correo Electrónico</span>
                <input type="text" placeholder="Correo Electrónico" [(ngModel)]="correo">
            </div>
            <div class="input-box">
                <span class="details">Contraseña</span>
                <input type="text" placeholder="Contraseña" [(ngModel)]="contrasena">
            </div>
            <div class="input-box">
                <span class="details">Dirección</span>
                <input type="text" placeholder="Dirección" [(ngModel)]="direccion">
            </div>

            <div class="input-box">
                <span class="details">Ciudad</span>
                <input type="text" placeholder="Ciudad" [(ngModel)]="ciudad">
            </div>
            <div class="input-box">
                <span class="details">Departamento</span>
                <input type="text" placeholder="Departamento" [(ngModel)]="departamento">
            </div>
            <div class="input-box">
                <span class="details">Telefono</span>
                <input type="text" placeholder="Telefono" [(ngModel)]="telefono">
            </div>
        </div>

        <button class="btn" (click)="Registrar()">Registrar</button>


    </div>
</div>



<app-piedepagina></app-piedepagina>