<app-menu></app-menu>

<body>
    <div class="container">
        <div class="row">
            <div class="title">REGISTRO</div>
            <div>
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Nombre Completo</span>
                        <input type="text" placeholder="Nombre completo" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Edad</span>
                        <input type="text" placeholder="Edad">
                    </div>
                    <div class="input-box">
                        <span class="details">Correo Electrónico</span>
                        <input type="text" placeholder="Correo Electrónico" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Contraseña</span>
                        <input type="text" placeholder="Contraseña" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Dirección</span>
                        <input type="text" placeholder="Dirección">
                    </div>

                    <div class="input-box">
                        <span class="details">Ciudad</span>
                        <input type="text" placeholder="Ciudad">
                    </div>
                    <div class="input-box">
                        <span class="details">Departamento</span>
                        <input type="text" placeholder="Departamento">
                    </div>
                    <div class="input-box">
                        <span class="details">Telefono</span>
                        <input type="text" placeholder="Telefono">
                    </div>
                </div>
            </div>

            <div class="button">
                <input type="submit" value="Registrar">
            </div>

        </div>
    </div>
</body>


<app-piedepagina></app-piedepagina>
