body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #9ed8e5dc, #bad4ff62);
    font-family: 'Lemon';
}

.container {
    max-width: 628px;
    width: 100%;
    background: #fff;
    padding: 26px 60px;
    border-radius: 5px;
    margin-bottom: 50px;
}

.title {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 6px;
    border-bottom: solid 1px rgb(127, 181, 212);
    width: 100%;
}

.container .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
}

.user-details .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
}

.button {
    height: 45px;
    margin: 45px 0;
    width: 100%;
}

.button input {
    height: 100%;
    width: 100%;
    outline: none;
    color: #1e1b1b;
    background: linear-gradient(135deg, #b6cfd2dc, #c9daf2cc);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
}

.button input:hover {
    background: linear-gradient(-135deg, #b6cfd2dc, #c9daf2cc);
}