<div class="d-flex" id="wrapper">
    <div class="sidebar-container">
        <div class="logo">
            <h5 class="text-light sidebar-heading text-center py-3 primary-text fs-4 fw-bold text-uppercase">Care Te Asiste</h5>
        </div>
        <div class="menulateral">
            <!--vamos a modificar el menu para que muestre el de usuario y no el de administrador-->
            <div routerLink="/actualizardatos" class="itemmenu p-2 "><i class="icon ion-md-clipboard mr-2 lead"></i> Actualizar Datos</div><!-- se  encontraba el de Usuarios-->
            <div routerLink="/actualizarcorreoelectronico" class="itemmenu p-2"><i class="icon ion-md-clipboard mr-2 lead"></i> Actualizar Correo Electronico</div><!-- se encontraba el de Pacientes-->
            <div routerLink="/actualizarclave" class="itemmenu p-2"><i class="icon ion-md-clipboard mr-2 lead"></i> Actualizar Clave</div><!-- se encontraba el de Servicios-->
            <!--<div routerLink="/directorio" class="itemmenu p-2"><i class="icon ion-md-clipboard mr-2 lead"></i> Solicitud de Atencion</div>se encontraba el de Directorio-->
            <!--<div routerLink="/permisos" class="itemmenu p-2 "><i class="icon ion-md-clipboard mr-2 lead"></i> Informes</div> se encontrava permisos-->
            <!--<div routerLink="/documentos" class="itemmenu p-2 "><i class="icon ion-md-clipboard mr-2 lead"></i> Subir Documentos</div>-->
            <div routerLink="/" class="itemmenu p-2"><i class="icon ion-md-power mr-2 lead"></i> Cerrar Sesion</div>
        </div>
    </div>

   

</div>
