
<div class="collapse navbar-collapse" id="btninforcitas">
    <div class="tab-pane fade show" id="nav-citas" role="tabpanel" aria-labelledby="nav-citas-tab">
        <div class="card mb-3" style="max-width: 600px;">
            <div class="row no-gutters">
                <div class="col-sm-4">
                    <img src="assets/imagenes/informe.png" alt="Citas" class="navimg">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Citas</h5>
                    <p class="card-text">Organizamos las citas médicas que tengas programadas, la historia clínica y te entregamos un reporte claro y en tus propias palabras el plan de acción que haya dispuesto el médico tratante.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>