<div class="col mb-4">
    <div class="card">
        <img src="assets/imagenes/Control.png" class="card-img-top" alt="informe">
        <div class="card-body">
            <h5 class="card-title font-weight-bold ">Realizamos Control de Medicamentos</h5>
            <p class="card-text">Realizamos control sobre las formulas medicas que se te prescriban, asi como estamos atentos a tratamientos que indique el medico tratante.
                <a href="#">Leer más</a>
            </p>
        </div>
    </div>
</div>
