<div class="col mb-4">
    <div class="card">
        <img src="assets/imagenes/agendamiento.png" class="card-img-top" alt="Agendamiento">
        <div class="card-body">
            <h5 class="card-title font-weight-bold ">Organizamos tus citas medicas</h5>
            <p class="card-text">Nos ocupamos de organizar tus intervenciones, citas, examenes y recolecion de medicamentos, con el fin de que puedas estar tranquilo de que no se te olvido realizar algun tramite medico.
                <a href="#">Leer más</a>
            </p>
        </div>
    </div>
</div>
