.entorno {
    font-size: medium;
    margin-top: 60px;
}

#nuevo {
    color: #fff;
    background-color: #00a1ffc9;
    border-color: #00d0ffed;
}

.btnopen {
    color: #fff;
    background-color: #00a1ffc9;
    border-color: #00d0ffed;
    border: none;
    border-radius: 5px;
    height: 40px;
    letter-spacing: 1px;
}