.entorno {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}

#nuevo {
    margin-left: 1170px;
    background: #16959bec;
}

.btnopen {
    background: #16959bec;
    border: none;
    border-radius: 5px;
    height: 40px;
    letter-spacing: 1px;
}