.nav-tabs .nav-link {
    margin-bottom: -1px;
    background-color: transparent;
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    color: white;
    font-size: 20px;
    font-family: 'Yeseva One', cursive;
}

#encabezado {
    background: #478a99dc
}

#nav-tabContent {
    font-family: 'Lemon', cursive;
}

.btnbuscar {
    color: white;
    border-color: white;
}

.itemenu {
    color: white;
}