.nav-tabs .nav-link {
    margin-bottom: -1px;
    background-color: transparent;
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    color: white;
    font-size: 20px;
    font-family: 'Lemon', cursive;
}

#encabezado {
    background: linear-gradient(135deg, #8cd1e0dc, #a5d1eb69);
}

#nav-tabContent {
    font-family: 'Lemon', cursive;
}