<div class="d-flex" id="wrapper">
    <div class="sidebar-container">
        <div class="logo">
            <h5 class="text-light sidebar-heading text-center py-3 primary-text fs-4 fw-bold text-uppercase">Care Te Asiste</h5>
        </div>
        <div class="menulateral">
            <div routerLink="/usuarios" class="itemmenu p-2 "><i class="icon ion-md-clipboard mr-2 lead"></i> Usuarios</div>
            <div routerLink="/pacientes" class="itemmenu p-2"><i class="icon ion-md-clipboard mr-2 lead"></i> Pacientes</div>
            <div routerLink="/servicios" class="itemmenu p-2"><i class="icon ion-md-clipboard mr-2 lead"></i> Servicios</div>
            <div routerLink="/directorio" class="itemmenu p-2"><i class="icon ion-md-clipboard mr-2 lead"></i> Directorio</div>
            <div routerLink="/permisos" class="itemmenu p-2 "><i class="icon ion-md-clipboard mr-2 lead"></i> Permisos</div>
            <div routerLink="/documentos" class="itemmenu p-2 "><i class="icon ion-md-clipboard mr-2 lead"></i> Subir Documentos</div>
            <div routerLink="/" class="itemmenu p-2"><i class="icon ion-md-power mr-2 lead"></i> Cerrar Sesion</div>
        </div>
    </div>

    
</div>